*
{
	padding: 0px;
	margin: 0px;
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	
}
body
{
	
	text-align: center;
	position: absolute;
	left: 2%;
	right: 2%;
	font-size: 60px;
}


h1
{
	font-family:Courier, sans-serif,"Lucida Console";
	font-size:60%;
	margin-bottom: 10px;
	margin-top: 10px;
}
.row
{
	width: 100%;
}
section
{
	
	border: 1px solid black;
	background-color:#9ba19a;
	margin: 15px;
	width: 18%;
	margin-left: auto;
	margin-right:auto;

}
 h2
{
	border: 1px solid black;
	width: 40%;
	color: white;
	font-size: 35%;
	font-family:"Comic Sans MS", cursive, sans-serif;
	float: right;
	padding-bottom:5px;
	
}

p
{
	clear: right;
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	margin-left: 8px;
	
	
}
.s1 h2
{
	
	background-color: pink;
	

}
.s2 h2
{
	background-color: #ccffcc;

}
.s3 h2
{
	
	background-color:#b3d9ff;
	

}

/*for Desktop*/
@media only screen and (min-width:992px) {
	.col-lg-1 ,.col-lg-2 , .col-lg-3 ,.col-lg-4,.col-lg-5 ,.col-lg-6 ,  .col-lg-7 , .col-lg-8 ,
	 .col-lg-9 , .col-lg-10 , .col-lg-11 , .col-lg-12 {
  	float: left;
 	margin-right: 10px;}
  .row{
	 position: relative;
	left:10%;
  	}
  

  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}

 /* For   tablets: */
 
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.col-md-1 ,.col-md-2 , .col-md-3 , .col-md-4, .col-md-5 , .col-md-6 ,.col-md-7 ,.col-md-8 ,
	.col-md-9 ,.col-md-10 ,.col-md-11 ,.col-md-12 {
	float: left;
	
  	
 }
 .s2
 {
 	margin-left: 10px;
 }




  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 49%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}

  
}

/*for mobile Phone */

@media only screen and (max-width:767px)  {
	
  	.col-s-1 ,.col-s-2 , .col-s-3 , .col-s-4, .col-s-5 , .col-s-6 ,.col-s-7 ,.col-s-8 ,
	.col-s-9 ,.col-s-10 ,.col-s-11 ,.col-s-12 {

  	float: left;
  	
  }
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  }